extends ./layout/app.pug

block scripts
    script(defer src="js/monitor.js")

block content
    //- Header
    .block.has-text-centered
        input#wsServer(type="hidden" value=wsServer)
        h1.title.is-1 Logging Monitoring Page
        p.sub-title.is-5 Server: #{wsServer}

    //- Status block
    .block(v-if="!isConnected")
        h3.title.is-3.is-danger
            | Status: DISCONNECTED

    //- Fitler Form
    .block(v-if="isConnected")
        form.form
            .field.is-horizontal
                .field-label.is-normal
                    label.label Filter
                .field-body
                    .field
                        p.control.is-expanded
                            input.input(type='text' placeholder='Tag' v-model="filter.tag")
                    //- .field
                        p.control.is-expanded
                            input.input.is-success(type='text' placeholder='Log Content' v-model="filter.log")
                    //- .field
                        a.button.is-info(href="#" click.prevent="applyFilter") Filter
    //- Result form
    .container(v-if="hasLogs")
        .block
            .field
                a.button.is-danger(href="#" @click.prevent="clearLogs()") Clear logs
        ul
            li(v-for="(log, index) in logs" :key="index")
                label.tag(:class="'is-' + log.type") {{ log.created_at }} [{{ log.type }}]
                label.info.is-info {{ log.tag }}
                pre {{ log.log }}
