<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document

        link(rel="stylesheet" href="css/core.css")
        block styles

        script(defer src="js/core.js")
        block scripts
    body
        section#app.section
            .container
                section.section
                    block content
